@model IEnumerable<ioliu.domain.Img>
@{ 
    Layout = "_LeftLayout";
}



    
   
    <link href="~/Hadmin/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">

   

    <style>
        .lightBoxGallery img {
            margin: 5px;
            width: 160px;
        }
    </style>


    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                        <h2>相册插件</h2>
                        <p>
                            <strong>blueimp Gallery</strong>主要为移动设备而设计，同时也支持桌面浏览器。可定制视频和相片，支持触摸操作，支持全屏播放等。项目地址： <a href="https://github.com/blueimp/Gallery" target="_blank">https://github.com/blueimp/Gallery</a>
                        </p>

                        <div class="lightBoxGallery">
                            @foreach (var imgs in Model)
                            {
                                <a  href="@imgs.imgPath"  title="图片" data-gallery="">
                                <img src="@imgs.imgPath"></a>
                            }
                            

                            <div id="blueimp-gallery" class="blueimp-gallery">
                                <div class="slides"></div>
                                <h3 class="title"></h3>
                                <a class="prev">‹</a>
                                <a class="next">›</a>
                                <a class="close">×</a>
                                <a class="play-pause"></a>
                                <ol class="indicator"></ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="~/Hadmin/js/jquery.min.js?v=2.1.4"></script>
  

   

    <!-- blueimp gallery -->
    <script src="~/Hadmin/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>




