@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_UserLayout1";
}
    <div class="row sticky-parent">
        <!-- Sidebar nav -->
      

        <div class="col-12 col-md-12 col-lg-10">
            <div class="box box-content" id="content">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="expert-box text-center">
                                <img src="~/resume/images/aboutus/分析指挥.svg" class="img-fluid" alt="" />
                                <h3>公交应急指挥系统</h3>
                                <p class="mb-0">角色：开发工程师.</p>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="expert-box text-center">
                                <img src="~/resume/images/aboutus/数据中心.svg" class="img-fluid" alt="" />
                                <h3>数据交换中心系统</h3>
                                <p class="mb-0">角色：开发工程师.</p>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="expert-box text-center">
                                <img src="~/resume/images/aboutus/RFID标签日志.svg" class="img-fluid" alt="" />
                                <h3>牦牛交易系统</h3>
                                <p>平台：C/S</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="expert-box text-center">
                                <img src="~/resume/images/aboutus/摄像头.svg" class="img-fluid" alt="" />
                                <h3>虚拟摄像头系统</h3>
                                <p class="mb-0">角色：开发工程师.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="expert-box text-center">
                                <img src="~/resume/images/aboutus/教育培训.svg" class="img-fluid" alt="" />
                                <h3>在线教育考试平台</h3>
                                <p class="mb-0">角色：开发工程师.</p>
                            </div>
                        </div>
                    </div>
                  
                </div>

            </div>
            <footer class="footer">© 2020 DengFei</footer>
        </div>


    </div>