<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ioliu.domain.SystemUser> signInManager
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/HAdmin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="~/HAdmin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="~/HAdmin/css/animate.css" rel="stylesheet">
    <link href="~/HAdmin/css/style.css?v=4.1.0" rel="stylesheet">

</head>
<body class="fixed-sidebar full-height-layout gray-bg" >
    
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
           
            <div class="row J_mainContent " id="content-main"  style="  overflow-y:scroll">
                @RenderBody()
            </div>
        </div>
        <!--右侧部分结束-->
   

    <!-- 全局js -->
    <script src="~/HAdmin/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/HAdmin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/HAdmin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/HAdmin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/HAdmin/js/plugins/layer/layer.min.js"></script>

    <!-- 自定义js -->
    <script src="~/HAdmin/js/hAdmin.js?v=4.1.0"></script>
    @*<script type="text/javascript" src="~/HAdmin/js/index.js"></script>*@

    <!-- 第三方插件 -->
    <script src="~/HAdmin/js/plugins/pace/pace.min.js"></script>

</body>
</html>
