
@model ioliu.web.ViewModel.ManageViewModel
@{
}
<form asp-action="ManageClaims" method="post">
    <input type="hidden" name="userId" value="@Model.UserId"/>
    <select asp-for="ClaimId" asp-items="@new SelectList(Model.AllClaims)">
        <option>--选择Claim--</option>
    </select>
    <button type="submit" class="btn btn-primary">添加Claim</button>
</form>
