@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ioliu.web.ViewModel.RoleAddModel
@{
    Layout = "_AdminLayout";
}
<form method="post">
    <div class="form-group row">
        <label asp-for="RoleName" class="col-sm-2"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="RoleName" />
            <span class="invalid" asp-validation-for="RoleName"></span>
        </div>
    </div>
    <div class="invalid" asp-validation-summary="ModelOnly"></div>
    <button type="submit" class="btn btn-primary">提交</button>
    <a asp-action="Index" class="btn btn-secondary">返回列表</a>
</form>