@model ioliu.domain.SystemUser
<h1>添加学生</h1>
<form method="post">

    <input asp-for="UserName" /><br />
    <input asp-for="PassWorld" /><br />
    <input asp-for="LoginName" /><br />
    <input asp-for="Birth" type="date" /><br />
    <select asp-for="Sex" asp-items="Html.GetEnumSelectList<ioliu.domain.SystemUser.sex>()"></select><br />
    <button type="submit" name="save">保存</button>
</form>