@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ioliu.domain.SystemUser
@{
    Layout = null;
}
<link href="~/HAdmin/css/login.css" rel="stylesheet">
<script>
        if (window.top !== window.self) {
            window.top.location = window.location;
        }
</script>

<div class="signinpanel">
    <div class="row">
        <div class="col-sm-12">
            <form method="post" asp-controller="Account" asp-action="Login">
                <h4 class="no-margins">登录：</h4>
                <p class="m-t-md">登录到H+后台主题UI框架</p>
                <input type="text" class="form-control uname" asp-for="UserName" placeholder="用户名" />
                <span asp-validation-for="UserName"></span>
                <input type="password" class="form-control pword m-b" asp-for="PassWorld" placeholder="密码" />
                <span asp-validation-for="PassWorld"></span>
                <a href="">忘记密码了？</a>
                <button class="btn btn-success btn-block">登录</button>
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            &copy; hAdmin
        </div>
    </div>
</div>